language: ruby
cache: bundler

rvm:
  - 2.2.2

--install:
  - bundle install --path=vendor/ --jobs=3 --retry=3
  - asciidoctor-pdf-cjk-kai_gen_gothic-install

script:
  - bundle exec asciidoctor-pdf -r asciidoctor-pdf-cjk-kai_gen_gothic -a pdf-style=KaiGenGothicCN example.asc
